* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

:root {
	--bg-main: #ffffff;
	--bg-main-grey: #F6F6F6;

	--font-color-grey: #5d4c4c;

	--color-main-black: #070707;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: var(--bg-main);

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: unset;
}

h1,
h2,
p {
	margin: 0;
}

/* HEADER*/
.container {
	margin: 0;
	min-width: 970px;
	padding: 0 10px;

}

.header {
	padding-top: 25px 0 0 0;
}

.nav {
	width: 100%;
}

.nav::after {
	content: "";
	display: block;
	margin: 30px 0 0 0;
	width: 100%;
	height: 1px;
	background-color: var(--font-color-grey);
}

.nav-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 150px;

}

.nav-link {
	color: var(--font-color-grey);
	font-size: 18px;
	font-weight: 700;
	position: relative;
}

.nav-link::after {
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	right: 100%;
	bottom: -10px;
	background-color: var(--color-main-black);
	transition: right .22s;
}

.nav-link:hover {
	color: var(--color-main-black);
}

.nav-link:hover::after {
	right: 0;
}

/*HOME*/
.home {
	text-align: center;
	padding: 0 0 70px 0;
}

.home-title {
	font-size: 45px;
	font-weight: 700;
	color: var(--color-main-black);
	margin: 46px 0 22px 0;
}

.home-description {
	margin: 0 0 36px 0;
	font-size: 18px;
	font-weight: 500;
	color: var(--color-main-black);
}

.home-img {
	width: 100%;
	height: 535px;
	object-fit: cover;
}

/*ABOUT*/
.about {
	background-color: var(--bg-main-grey);
	padding: 56px 30px 98px 30px;
	text-align: center;
	color: var(--color-main-black);
	min-width: 970px;


}

.about-title {
	font-size: 34px;
	font-weight: 700;
	margin: 0 0 42px 0;
}

.about-subtitle-ru {
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 15px 0;
	text-align: center;
}

.about-subtitle-en {
	margin: 15px 0 15 0;
}

.about-description-ru,
.about-description-en {
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 15px 0px;

}

.divader {
	max-width: 420px;
	width: 100%;
	height: 1px;
	background-color: var(--color-main-black);
	border: none;
	margin: 0 auto;
}

.history {
	padding: 65px 0 70px;
	text-align: center;
	color: var(--color-main-black);
}

.history-title {
	font-size: 34px;
	font-weight: 700;

}

.history-photo {
	margin-top: 70px;
	width: 950px;
	height: 655px;
	object-fit: cover;
}

.history-description {
	font-size: 18px;
	font-weight: 500;
	margin-top: 30px;
}

.portfolio {
	background-color: var(--bg-main-grey);
	text-align: center;
	padding: 80px 20px 107px;
	color: var(--color-main-black);
	min-width: 970px;
}

.portfolio-title {
	font-size: 34px;
	font-weight: 700;
}

.portfolio-picture {
	margin: 75px 0 40px 0;
	width: min(100%, 950px);
	height: min(100%, 630px);
	object-fit: cover;
}

.portfolio-description {
	font-size: 18px;
	font-weight: 500;
}

.contacts {
	padding: 55px 20px 62px;
	text-align: center;
}

.contacts-title {
	font-size: 34px;
	font-weight: 700;
	color: var(--color-main-black);
}

.contacts-button {
	width: 211px;
	height: 41px;
	border-radius: 21px;
	border: none;
	background-color: var(--color-main-black);
	margin: 74px 0 38px;

}

.button-link {
	color: var(--bg-main);
	font-size: 24px;
	font-weight: 500;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 30px;
}

.social-icon {
	width: 65px;
	height: 65px;
	color: var(--color-main-black);
}

.contacts-info {
margin: 30px auto 0;
color: var(--font-color-grey);
width: 260px;
font-size: 16px;
font-weight: 500;
}

.contacts-button:hover {
	opacity: 0.8;
}

.social-icon:hover {
	fill: chocolate;
}

.mobile-navigation {
	display: none;
	position: absolute;
	top: 55px;
	right: 30px;
	
}

.mobile-navigation-burger {
	width: 33px;
	height: 18px;
	cursor: pointer;
	
}

.mobile-navigation-toggler {
	display: none;
}

.mobile-navigation-menu {
	position: fixed;
	top: 0;
	right: 0;
	right: 0;
	left: 0;
	translate: 100% 0;
	transition: all .33s;
	background-color: var(--bg-main);
	padding: 55px 20px 500px;
	
}

.mobile-navigation-toggler:checked + .mobile-navigation-menu {
	
	translate: 0;
}

.mobile-navigation-list {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.mobile-navigation-link {
	font-size: 34px;
	font-weight: 700;
	color: var(--font-color-grey);
}


.mobile-navigation-close {
	position: absolute;
	top: 55px;
	right: 30px;
}

.mobile-navigation-cross {
	width: 25px;
	height: 22px;
	cursor: pointer;
}





@media (max-width: 480px) {
html {
	width: 480px;
}
	.mobile-navigation {
		display: block;
	}
	
	.container {
		min-width: 389px;
	}

	.header {
		display: none;
	}

	.home {
		text-align: justify;
	}

	.home-title {
		max-width: 250px;
		font-size: 32px;
		margin: 64px 0 24px 0;
	}

	.home-description {
		margin: 0 0 28px 0;
		font-size: 18px;
	}

	.home-img {
		width: 440px;
		height: 400px;
		margin: 0 auto 0;
	}

	.about {
		min-width: 415px;
	}

	.about-subtitle-ru,
	.about-subtitle-en,
	.about-description-ru,
	.about-description-en {
		font-size: 14px;
	}

	.history-title {
		margin-left: 10px;
	}

	.history {
		padding-top: 50px;
	}

	.history-photo {
		width: 350px;
		margin-left: 20px;
		margin-top: 60px;

	}

	.history-description {
		margin-left: 30px;
		font-size: 14px;
	}

	.portfolio {
		padding: 41px 0 50px;
		min-width: 415px;
	}

	.portfolio-picture {
		margin: 50px 0 30px;
	}

	.portfolio-description {
		font-size: 14px;
	}

	.contacts {
		padding: 60px 20px 125px ;
	}

.socials {
	gap: 20px;
}

.social-icon {
	width: 55px;
	height: 55px;
}

.contacts-info {
	font-size: 14px;
	margin-top: 40px;
}

}